@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* Hide scrollbar but allow scrolling */

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  
  
  /* Hide scrollbar for Chrome, Safari, and Opera */
  
  
}
body::-webkit-scrollbar {
    display: none;
  }